# OS junk
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Ansible-specific
*.retry
*.log
*.orig
*.bak
*.swp

# SSH keys, sensitive creds
*.pem
*.key
*.crt

# Archives & installables
*.tar.gz
*.zip
*.rpm

# Exported Telegram backups or other user exports
export*/**
telegram_export*/**

# IDE/editor settings
.idea/
.vscode/

# Custom folders to ignore
files/openjdk*.tar.gz
files/postgresql*.rpm

# Исключаем все локальные RPM-пакеты
files/*.rpm

# Или более точно — если они в подпапках:
**/*.rpm


# JDK архивы и другие временные установщики
files/*.tar.gz
files/*.zip
infrastructure/files/openjdk*.tar.gz

